body {
    background-color:whitesmoke;
}

header {
    background-color: purple;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: left;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo{
        display:block;
        width: 1030px;
        height: 350px;
        
    }
li a:hover {background-color:blue }

.p {font-family: Arial, Helvetica, sans-serif;}
